<div class="modal fade" id="add-rol" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Adicionar rol</h4>
            </div>
            <div>
                <form id="form-rol" role="form" (ngSubmit)="insertar()">

                    <div class="modal-body">
                        <div id="div-errores" *ngIf="errores">
                            <div class="alert alert-danger" *ngFor="let error of errores">
                                {{ error }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" [(ngModel)]="rolForm.nombre" placeholder="Ingrese un nombre" maxlength="30" autofocus required />
                        </div>
                        
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea rows="3" id="descripcion" class="form-control" [(ngModel)]="rolForm.descripcion" placeholder="Ingrese una descripción" maxlength="255"></textarea>
                        </div>
                        
                        <div style="height: 250px; overflow: auto;">
                            <table class="table table-striped">
                                <label for="permisos">Permisos</label>
                                <tr>
                                    <th>Módulo - Opción</th>
                                    <th><span class="fa fa-search" title="Consultar"></span></th>
                                    <th><span class="fa fa-plus" title="Adicionar"></span></th>
                                    <th><span class="fa fa-pencil" title="Editar"></span></th>
                                    <th><span class="fa fa-close" title="Eliminar"></span></th>
                                    <th><span class="fa fa-play" title="Ejecutar procesos"></span></th>
                                </tr>
                                <tr class="list-group" *ngFor="let opcion of opciones">
                                    <td>{{ opcion.modulo_nombre + " - " + opcion.opcion_nombre }}</td>
                                    <td><input type="checkbox" [(ngModel)]="opcion.consulta" /></td>
                                    <td><input type="checkbox" [(ngModel)]="opcion.adiciona" /></td>
                                    <td><input type="checkbox" [(ngModel)]="opcion.edita" /></td>
                                    <td><input type="checkbox" [(ngModel)]="opcion.elimina" /></td>
                                    <td><input type="checkbox" [(ngModel)]="opcion.ejecuta" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="submit" id="btn-aceptar" class="btn btn-md btn-success">
                                <i class="fa fa-floppy-o"></i>
                                <span>Aceptar</span>
                            </button>

                            <button type="button" id="btn-cancelar" class="btn btn-md btn-danger" (click)="close()">
                                <i class="fa fa-sign-out"></i>
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </div>

                    <div *ngIf="loading()">
                        <i class="fa fa-spinner fa-pulse fa-3x" style="position: absolute; left: 50%; top: 50%;"></i>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>
</div>

<simple-notifications [options]="notificationsOptions"></simple-notifications>