<div class="container col-md-12">
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <h4>
                <span>Intereses de mora</span>
                <button class="btn btn-md btn-link" data-toggle="modal" data-backdrop="static" data-target="#add-interes" *ngIf="opcion.adiciona">
                    <i class="fa fa-plus"></i>
                    <span>Adicionar</span>
                </button>
            </h4>
            
            <div *ngIf="opcion.consulta">
                <form id="form-interes" role="form" (ngSubmit)="getIntereses()">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="fecha_inicio">Fecha inicial</label>
                                <input type="date" id="fecha_inicio" class="form-control" [(ngModel)]="interesFilter.fecha_inicio" />
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="fecha_fin">Fecha final</label>
                                <input type="date" id="fecha_fin" class="form-control" [(ngModel)]="interesFilter.fecha_fin" />
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <button type="submit" id="btn-buscar" class="btn btn-md btn-link">
                                <i class="fa fa-search"></i>
                                <span>Buscar</span>
                            </button>
                            <button type="button" id="btn-limpiar" class="btn btn-md btn-link" (click)="resetFilter()">
                                <i class="fa fa-close"></i>
                                <span>Limpiar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <p-dataTable [value]="intereses" [rows]="10" [paginator]="true" [responsive]="true">
            <p-column [style]="{'width':'25%'}" field="resolucion" header="Nro. resolución"></p-column>
            <p-column [style]="{'width':'10%'}" field="fecha_resolucion" header="Fecha resolución"></p-column>
            <p-column [style]="{'width':'35%'}" field="ent_nombre" header="Entidad"></p-column>
            <p-column [style]="{'width':'10%'}" field="desde" header="Fecha inicial"></p-column>
            <p-column [style]="{'width':'10%'}" field="hasta" header="Fecha final"></p-column>
            <p-column [style]="{'width':'10%'}" field="tasa" header="Tasa"></p-column>
        </p-dataTable>

        <interes-add></interes-add>

        <persona-add></persona-add>

    </div>
</div>

<div *ngIf="loading()">
    <i class="fa fa-spinner fa-pulse fa-3x" style="position: absolute; left: 50%; top: 50%;"></i>
</div>

<simple-notifications [options]="notificationsOptions"></simple-notifications>