<div class="modal fade" id="edit-agente" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Editar agente de tránsito</h4>
            </div>
            
            <div>
                <form id="form-agente" role="form" (ngSubmit)="actualizar()">
                    <div class="modal-body">

                        <div id="div-errores" *ngIf="errores">
                            <div class="alert alert-danger" *ngFor="let error of errores">
                                <span>{{ error }}</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_doc">Tipo documento</label>
                                    <select id="tipo_doc" class="form-control" [(ngModel)]="agenteForm.tipo_doc" disabled>
                                        <option *ngFor="let tipo of documentos" [value]="tipo.parametro">{{ tipo.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_doc">Número documento</label>
                                    <input type="text" id="numero_doc" class="form-control" [(ngModel)]="agenteForm.numero_doc" disabled />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" [(ngModel)]="agenteForm.nombres_apellidos" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="entidad">Entidad</label>
                                    <select id="entidad" class="form-control" [(ngModel)]="agenteForm.entidad" required>
                                        <option *ngFor="let entidad of entidades" [value]="entidad.parametro">{{ entidad.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="placa">Placa</label>
                                    <input type="text" id="placa" class="form-control" [(ngModel)]="agenteForm.placa" maxlength="100" required />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control" [(ngModel)]="agenteForm.email" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="input-firma-edit">Firma</label>
                                    <input type="file" accept="image/jpeg" id="input-firma-edit" class="form-control" ng2FileSelect [uploader]="uploader" />
                                    <br />
                                    <button type="button" class="btn btn-success btn-s" (click)="cargarFirma()">
                                        <i class="fa fa-upload"></i>
                                        <span>Cargar</span>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-s" (click)="mostrarFirma()" *ngIf="agenteForm.firma != null">
                                        <i class="fa fa-search"></i>
                                        <span>Ver firma actual</span>
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <img id="img-firma-edit" src="" height="100" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="submit" id="btn-aceptar" class="btn btn-md btn-success">
                                <i class="fa fa-floppy-o"></i>
                                <span>Aceptar</span>
                            </button>
                            
                            <button type="button" id="btn-inactivar" class="btn btn-md btn-danger" data-toggle="modal" data-backdrop="static" data-target="#delete-agente">
                                <i class="fa fa-times"></i>
                                <span>Inactivar</span>
                            </button>

                            <button type="button" id="btn-reset" class="btn btn-md btn-primary" (click)="resetFormulario()">
                                <i class="fa fa-undo"></i>
                                <span>Resetear</span>
                            </button>

                            <button type="button" id="btn-cancelar" class="btn btn-md btn-danger" (click)="close()">
                                <i class="fa fa-sign-out"></i>
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </div>

                    <div *ngIf="loading()">
                        <i class="fa fa-spinner fa-pulse fa-3x" style="position: absolute; left: 50%; top: 50%;"></i>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<simple-notifications [options]="notificationsOptions"></simple-notifications>