<div class="container col-md-12">
    <div class="panel panel-default">
        
        <div class="panel-heading">
            <h4>
                <span>Personas</span>
                <button class="btn btn-md btn-link" data-toggle="modal" data-backdrop="static" data-target="#add-persona" *ngIf="opcion.adiciona">
                    <i class="fa fa-plus"></i>
                    <span>Adicionar</span>
                </button>
            </h4>
            
            <div *ngIf="opcion.consulta">
                <form id="form-persona" role="form" (ngSubmit)="getPersonas()">                    
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="tipo_doc">Tipo documento</label>
                                <select id="tipo_doc" class="form-control" [(ngModel)]="personaFilter.tipo_doc">
                                    <option *ngFor="let tipo of documentos" [value]="tipo.parametro">{{ tipo.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="numero_doc">Número documento</label>
                                <input type="text" id="numero_doc" class="form-control" [(ngModel)]="personaFilter.numero_doc" />
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="nombres">Nombres</label>
                                <input type="text" id="nombres" class="form-control" [(ngModel)]="personaFilter.nombres" />
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" id="apellidos" class="form-control" [(ngModel)]="personaFilter.apellidos" />
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <button type="submit" id="btn-buscar" class="btn btn-md btn-link">
                                <i class="fa fa-search"></i>
                                <span>Buscar</span>
                            </button>
                            <button type="button" id="btn-limpiar" class="btn btn-md btn-link" (click)="resetFilter()">
                                <i class="fa fa-close"></i>
                                <span>Limpiar</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <p-dataTable [value]="personas" [rows]="10" [paginator]="true" [responsive]="true">
            <p-column [style]="{'width':'20%'}" field="tipo_doc_desc" header="Tipo documento"></p-column>
            <p-column [style]="{'width':'20%'}" field="numero_doc" header="Número documento"></p-column>
            <p-column [style]="{'width':'30%'}" field="nombres_apellidos" header="Nombres y apellidos"></p-column>
            <p-column [style]="{'width':'20%'}" field="fecha_registro" header="Fecha registro"></p-column>
            
            <p-column [style]="{'width':'10%'}">
                <template let-persona="rowData">
                    <button class="btn btn-xs btn-info" data-toggle="modal" data-backdrop="static" data-target="#detail-persona" (click)="selectPersona(persona)" *ngIf="opcion.consulta">
                        <span class="fa fa-bars" title="Ver detalle"></span>
                    </button>
                    <button class="btn btn-xs btn-success" data-toggle="modal" data-backdrop="static" data-target="#edit-persona" (click)="selectPersona(persona)" *ngIf="opcion.edita">
                        <span class="fa fa-pencil" title="Editar"></span>
                    </button>
                </template>
            </p-column>
        </p-dataTable>

        <persona-add></persona-add>
        <persona-detail [persona]="selectedPersona"></persona-detail>
        <persona-edit [persona]="selectedPersona"></persona-edit>

    </div>
</div>

<div *ngIf="loading()">
    <i class="fa fa-spinner fa-pulse fa-3x" style="position: absolute; left: 50%; top: 50%;"></i>
</div>

<simple-notifications [options]="notificationsOptions"></simple-notifications>