<div class="modal fade" id="add-persona" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" *ngIf="!usuarioForm">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Adicionar persona</h4>
            </div>
            
            <div>
                <form id="form-persona" role="form" (ngSubmit)="insertar()">
                    
                    <div class="modal-body">
                        <div id="div-errores" *ngIf="errores">
                            <div class="alert alert-danger" *ngFor="let error of errores">
                                <span>{{ error }}</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_doc">Tipo documento</label>
                                    <select id="tipo_doc" class="form-control" [(ngModel)]="personaForm.tipo_doc" required>
                                        <option *ngFor="let tipo of documentos" [value]="tipo.parametro">{{ tipo.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_doc">Número documento</label>
                                    <input type="text" id="numero_doc" class="form-control" [(ngModel)]="personaForm.numero_doc" maxlength="20" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fecha_exped_doc">Fecha expedición</label>
                                    <input type="date" id="fecha_exped_doc" class="form-control" [(ngModel)]="personaForm.fecha_exped_doc" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="departamento_doc">Departamento expedición</label>
                                    <select id="departamento_doc" class="form-control" [(ngModel)]="personaForm.cod_departamento_doc" 
                                        (blur)="cargarMunicipios(personaForm.cod_departamento_doc)">
                                        <option *ngFor="let departamento of departamentos" [value]="departamento.cod_departamento">{{ departamento.departamento }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="municipio_doc">Municipio expedición</label>
                                    <select id="municipio_doc" class="form-control" [(ngModel)]="personaForm.cod_municipio_doc">
                                        <option *ngFor="let municipio of municipios" [value]="municipio.cod_municipio">{{ municipio.municipio }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nombres">Nombres</label>
                                    <input type="text" id="nombres" class="form-control" [(ngModel)]="personaForm.nombres" maxlength="100" required />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="apellidos">Apellidos</label>
                                    <input type="text" id="apellidos" class="form-control" [(ngModel)]="personaForm.apellidos" maxlength="100" required />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control" [(ngModel)]="personaForm.email" maxlength="100" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="genero">Género</label>
                                    <select id="genero" class="form-control" [(ngModel)]="personaForm.genero">
                                        <option *ngFor="let genero of generos" [value]="genero.parametro">{{ genero.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="grupo_sanguineo">Grupo sanguíneo</label>
                                    <select id="grupo_sanguineo" class="form-control" [(ngModel)]="personaForm.grupo_sanguineo">
                                        <option *ngFor="let grupoSanguineo of gruposSanguineos" [value]="grupoSanguineo.parametro">{{ grupoSanguineo.nombre }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_celular">Teléfono móvil</label>
                                    <input type="text" id="numero_celular" class="form-control" [(ngModel)]="personaForm.numero_celular" maxlength="15" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="submit" id="btn-aceptar" class="btn btn-md btn-success">
                                <i class="fa fa-floppy-o"></i>
                                <span>Aceptar</span>
                            </button>
                            
                            <button type="button" id="btn-limpiar" class="btn btn-md btn-primary" (click)="resetFormulario()">
                                <i class="fa fa-undo"></i>
                                <span>Resetear</span>
                            </button>

                            <button type="button" id="btn-cancelar" class="btn btn-md btn-danger" (click)="close()">
                                <i class="fa fa-sign-out"></i>
                                <span>Cancelar</span>
                            </button>
                        </div>
                    </div>

                    <div *ngIf="loading()">
                        <i class="fa fa-spinner fa-pulse fa-3x" style="position: absolute; left: 50%; top: 50%;"></i>
                    </div>

                    <input type="button" id="btn-load-input" (click)="cargarInput()" hidden />

                </form>
            </div>
        </div>
    </div>
</div>

<simple-notifications [options]="notificationsOptions"></simple-notifications>